<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh mục nhóm thuốc</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a ui-sref="dashboard">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a ui-sref="customers">DM Nhóm thuốc</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Default box -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Thêm mới nhóm thuốc</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal" novalidate name="frmAddmedicine_category" role="form" ng-submit="AddMedicine_category()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Mã nhóm thuốc <span style="color:red">(*)</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" name="inputCode" ng-model="medicine_category.Category_Code" placeholder="Mã nhóm thuốc" required>
                                        </div>
                                        <label class="col-sm-1 col-form-label text-danger" ng-show="frmAddmedicine_category.inputCode.$touched && frmAddmedicine_category.inputCode.$invalid" data-toggle="tooltip" data-placement="top" title="Bạn chưa nhập mã!"> <i class="fas fa-times"></i></label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Tên nhóm thuốc <span style="color:red">(*)</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" name="inputName" ng-model="medicine_category.Category_Name" placeholder="Tên nhóm thuốc" required>
                                        </div>
                                        <label class="col-sm-1 col-form-label text-danger" ng-show="frmAddmedicine_category.inputLastName.$touched && frmAddmedicine_category.inputLastName.$invalid" data-toggle="tooltip" data-placement="top" title="Bạn chưa nhập họ tên khách hàng!"> <i class="fas fa-times"></i></label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Tên viết tắt</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" name="inputName" ng-model="medicine_category.Category_Alias" placeholder="Tên viết tắt">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Thứ tự</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" name="inputDisplay" ng-model="medicine_category.Display_Order" placeholder="Tên viết tắt">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Danh mục cha </label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <select name="parentID" required class="form-control form-control-sm"
                                                        ng-model="medicine.Category_Parent_ID"
                                                        ng-options="option.id as option.category_Name for option in listcategoryparent">
                                                    <option value="">--Chọn danh mục cha-</option>
                                                </select>
                                                <input type="hidden" name="parentID" ng-model="medicine.Category_Parent_ID" />
                                                <div class="input-group-prepend">
                                                    <button class="input-group-text" ui-sref="medicine_add"><i class="fas fa-plus"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-3 col-form-label">Tình trạng</label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <div class="icheck-success d-inline">
                                                    <input type="radio" id="rad_active" name="inputstatus" ng-model="medicine.Status" value="true">
                                                    <label for="rad_active">
                                                        Đang sử dụng
                                                    </label>
                                                </div>
                                                <div class="icheck-danger d-inline">
                                                    <input type="radio" id="rad_inactive" name="inputstatus" ng-model="medicine.Status" value="false">
                                                    <label for="rad_inactive">
                                                        Ngừng sử dụng
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="float-lg-right">
                                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Lưu</button>
                                <button class="btn btn-default" ui-sref="medicine_category"><i class="fas fa-window-close"></i> Bỏ qua</button>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
